@page "/"
@*Pagename (Not used in this template)*@

@using BlazorTemplate.Functions @*Using namespace "Functions" for accessing class files in Functions folder*@

<PageTitle>Index</PageTitle> @*Setup of Page title (Is shown in the browser tab so not important to mess with)*@

<!--
    If you want to run project where it can Hot Reload
    Visual Studio -> View -> Terminal
    Type this inside terminal windows: dotnet watch run debug
-->




<h1>Hello, world!</h1>

Welcome to your new app.

@if (customText == null) @*If statement for UI (Not code based but checks dynamically for changes in variable)*@
{
    <p>My text: Loading...</p>
}
else
{
    <p>My text: @customText</p>
}


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>




@code{
    private string? customText; @*Nullable string for showing in the UI*@

    FirstClass MyFirstClass = new FirstClass();

    public Index() @*Same as Static Void Main (Is run on startup)*@
    {
        customText = MyFirstClass.GetHello();
    }


    private int currentCount = 0;  @*Int for showing in the UI*@

    private void IncrementCount() @*Method (Can also be called from UI)*@
    {
        currentCount++;
    }
}
